/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #f4f4f9;
  color: #333;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  padding: 30px 0;
  background: #540874;
  color: rgb(243, 233, 233);
  border-radius: 10px;
}

header h1 {
  margin-bottom: 10px;
}

section {
  margin: 30px 0;
  padding: 20px;
  background: rgb(243, 242, 242);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h2 {
  margin-bottom: 15px;
  color: #1e0f02;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

a {
  color: #4a90e2;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
